.loginContainer {
  margin: 14rem auto 0;
  padding: 0 2.4rem;
  max-width: 35rem;
}

.loginContainer h3 {
  font-weight: 700;
  margin-bottom: 2.4rem;
  text-align: center;
}

.inputContainer label {
  font-size: 1.6rem;
  margin: 1.6rem 0 0.8rem;
}

.loginContainer input {
  border: 1px solid var(--black);
  border-radius: 5px;
}

.checkboxContainer {
  margin-top: 1.6rem;
}

.checkboxContainer input {
  width: fit-content;
  margin: 0 1.6rem 0 0.4rem;
}

.checkboxContainer label {
  font-size: 1.4rem;
  user-select: none;
}

.loginContainer > span {
  cursor: pointer;
  display: inline-block;
  margin-top: 1.6rem;
  color: var(--info-color);
  font-size: 1.4rem;
  text-decoration: underline;
}

.btn {
  background-color: var(--brand-color);
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 1.6rem;
  padding: 1.6rem;
  text-transform: uppercase;
  width: 100%;
}

.guestLogin {
  margin-top: 1.6rem;
  background-color: var(--info-color);
  width: 100%;
}

.spacer {
  border-bottom: 1px solid var(--lynx-grey);
  line-height: 0;
  margin-top: 2.4rem;
  text-align: center;
}

.spacer span {
  background-color: var(--white);
  font-size: 1rem;
  padding: 0 0.4rem;
}

.secondary {
  border: 2px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  margin-top: 2.4rem;
  padding: 0;
}

.secondary > a {
  display: inline-block;
  width: 100%;
  padding: 1.6rem;
}
