.container {
	max-width: 40rem;
	margin: auto;
}

.inputContainer label {
	font-size: 1.6rem;
	margin: 1.6rem 0 0.8rem;
}

.loginContainer input {
	border: 1px solid var(--black);
	border-radius: 5px;
}

.logoutBtn {
	margin-top: 2.4rem;
}
